h1 {
  color: #446692;
}
.north {
  transform: rotate(0deg);
}
.east {
  transform: rotate(90deg);
}
.south {
  transform: rotate(180deg);
}
.west {
  transform: rotate(270deg);
}
body {
  background-image: url("img/space.jpg");
}
p {
  color: #446692;
}