h1 {
  color: #446692;
}
.north {
  transform: rotate(0deg);
}
.east {
  transform: rotate(90deg);
}
.south {
  transform: rotate(180deg);
}
.west {
  transform: rotate(270deg);
}
body {
  background-image: url("img/space.jpg");
}
p {
  color: #446692;
}
.link {
  color: #4B93B3;
  background: #09210F;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  transition-duration: 0.4s;
}
.link:hover {
  background-color: #4BA5C3;
  color: black;
}
button {
  display: block;
}
img {
  padding: 30px;
  margin: auto;
  display: block;
}
div {
  padding: 10px 0px;
}
#header {
  align-content: center;
  margin: auto;
  width: 100%;
}
#header h1 {
  font-size: 75px;
  text-align: center;
}
#header p {
  text-align: center;
}
div {
  margin: auto;
  width: 50%;
  align-content: center;
}
div a {
  text-align: center;
  margin: auto;
  display: block;
}
div button {
  text-align: center;
  margin: auto;
}




